$primary-color: rgba(9, 88, 145, 0.8);   // Цвет фона кнопки
$hover-color: rgba(9, 88, 145, 0.8);     // Цвет при наведении
$active-color: rgba(7, 105, 174, 0.8);    // Цвет при нажатии


$sidebar-width: 16.66%; // 1/6 экрана
$content-width: 83.34%; // 5/6 экрана

$base-font-size: 16px;
$heading-font-family: 'Arial', sans-serif;
$body-font-family: 'Roboto', sans-serif;

$content-background-color: #ffffff;

$sidebar-background-color: rgb(238, 238, 238);