{% extends "pages/base.html" %}
{% load static i18n %}

{% block content %}
    <h1>Основной контент</h1>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p><p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
    <p>Здесь размещается основной текст страницы.</p>
{% endblock content %}